NODE_ENV=development
PORT=3000
DATABASE_URL="postgresql://postgres:postgres@localhost:5432/forgekit-swagger-test?schema=public"
JWT_SECRET="replace-this-with-a-random-secret-at-least-32-characters-long"