{{testingTestEnv}}

import { Test, TestingModule } from '@nestjs/testing';
import { INestApplication } from '@nestjs/common';
import request from 'supertest';
{{testingE2eImports}}

describe('App (e2e)', () => {
  let app: INestApplication;

  beforeEach(async () => {
    const { AppModule } = await import('../src/app.module');
    const moduleBuilder = Test.createTestingModule({
      imports: [AppModule],
    });

{{testingE2eOverrides}}

    const moduleFixture: TestingModule = await moduleBuilder.compile();

    app = moduleFixture.createNestApplication();
    await app.init();
  });

  afterEach(async () => {
    if (app) {
      await app.close();
    }
  });

  it('is defined', () => {
    expect(app).toBeDefined();
  });
});
